
#################################
#  START_DEV
#################################
spring:
  # ===============================
  # = Embedded Server Config
  # ===============================
  # Server Port
  port: 8080

  devtools:
    livereload:
      enabled: true

    # 서버를 재시작 하지않고 수정된 내용이 반영
    restart:
      enabled: false

  # Compile 하지 않고 반영
  thymeleaf:
    cache: false

  # ===============================
  # = DATA SOURCE (MARIADB)
  # ===============================
  datasource:
    # 기본 DB
    url: jdbc:mariadb://gigas.synology.me:3306/chatting
    username: bonjin
    password: Cthqkqh88!

  # ===============================
  # = JPA / HIBERNATE
  # ===============================
  # SQL 문장의 로깅 활성화
  jpa:
    show-sql: true

    # DDL 모드
    # create  : 기존테이블 삭제 후 다시 생성
    # create-drop: create 와 같으나 종료시점에 테이블 DROP
    # update: 변경분만 반영
    # validate: 엔티티와 테이블이 정상 매핑되었는지만 확인
    # none: 사용하지 않음
    hibernate.ddl-auto: update

    # 시작시 스키마 초기화
    generate-ddl: false

    # CONSOLE 에 SQL문을 가독성있게 표시
    properties:
      hibernate:
        #
        format_sql: true

        # HINT 표시
        use_sql_comments: true

        # SQL 언어 MariaDB
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect

  jwt:
    secret: geniuschoi@